<header id="header">
    <div class="container">
        <div class="logo">
            <img src="/assets/img/logo/logo_bandithijo.png" alt="logo_bandithijo">
        </div>

        <div class="title">
            <h1><span class="nobr">BANDITHIJO.COM</span></h1>
        </div>
        <div class="description">
            <h2>Here's where I started writing some notes that someday <span class="nobr">I will call it, a book</span></h2>
        </div>

        <nav class="nav">
            <div class="toggle"><div class="menu"><img style="width:30px;" src="/assets/img/logo/logo_menu.png" alt="Menu"></div></div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/vlog/">Vlog</a></li>
                <li><a href="/book/">Books</a></li>
                <li><a href="/groups/">Groups</a></li>
                <li><a href="/157/">157</a></li>
            </ul>
        </nav>
    </div><!-- header container -->
</header>
