<div class="noselect">
<h1 style="font-size:2em;">Kontributor</h1>
<div class="kontributor-box">
  {% assign contributors = page.contributors %}
  {% for contributor in contributors %}
    <div class="kontributor-img">
      <a href="https://github.com/{{ contributor }}" style="border-bottom:none;" target="_blank">
        <img style="margin:0 auto;border-radius:50%;" src="https://github.com/{{ contributor }}.png" alt="{{ contributor }}" onerror="imgError(this);">
      </a>
    </div><!-- penulis -->
  {% endfor %}
</div>
<div>
