<div>
<h1 style="font-size:32px;">Lisensi</h1>
<div style="border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#C4BBB0;margin:10px 0 15px;"></div>
<div class="ccbysa-img"><img src="/assets/img/logo/cc-by-nc-sa.png" alt="logo_cc-by-nc-sa"/></div><!-- ccbysa -->
<div class="ccbysa-text">
Tulisan ini dilisensikan dengan :<br>
<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.id" target="_blank">Atribusi-NonKomersial-BerbagiSerupa 4.0 Internasional (CC BY-NC-SA 4.0)</a>
</div><!-- ccbysa-text -->
</div>
