<div>
<h1 style="font-size:32px;">Penulis</h1>
<div style="border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#C4BBB0;margin:10px 0 15px;"></div>
<div class="penulis-img"><img style="border-radius:50%;" src="/assets/img/logo/logo_author.png" alt="logo_author"></div><!-- penulis -->

<div class="penulis-text">
<p><b>BanditHijo</b> adalah nama pena saya – meminjam istilah keren dari para penulis. Orang-orang menyebut saya sebagai GNU/Linux Enthusiast. Sejujurnya saya belum memiliki kemampuan apa-apa. Saya hanya senang belajar.</p>
<p style="text-align:right;">- <b>Rizqi Nur Assyaufi</b></p>
</div><!-- penulis-text -->
<div>
