<div class="noselect">
<h1 style="font-size:2em;">Penulis</h1>
<div class="penulis-img"><img style="margin:0 auto;border-radius:50%;" src="/assets/img/logo/logo_author.png" alt="logo_author"></div><!-- penulis -->

<div class="penulis-text">
<p><b>BanditHijo</b> adalah nama pena saya – meminjam istilah keren dari para penulis. Teman-teman menyebut saya sebagai GNU/Linux Enthusiast. Saya memang gemar mengutak-atik sistem operasi ini. Bukan karena hobi tapi karena saya perlu untuk menggunakannya. Hehe.</p>
<p style="text-align:right;">- <b>Rizqi Nur Assyaufi</b></p>
</div><!-- penulis-text -->
<div>
