{% comment %}<!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'/> -->{% endcomment %}
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/nav.min.js"></script>
<script type="text/javascript" src="/assets/js/nav-button.js"></script>
<script type="text/javascript" src="/assets/js/lazyload.js"></script>
<script type="text/javascript" src="/assets/js/aside.js"></script>
<script type="text/javascript" src="/assets/js/headings-permalink.js"></script>
<script type="text/javascript" src="/assets/js/footer-donasi.js"></script>
