<aside class="sidebar" style="margin-top:-25px;">
    {% if page.permalink == '/blog/' %}
        {% include _sidebar/dotfriends/sidebar_dotfriends.html %}
        {% include _sidebar/sidebar_rss_feed.html %}
        {% comment %}{% include _sidebar/sidebar_news.html %}{% endcomment %}
    {% elsif page.permalink == '/blog/:title' %}
        {% include _sidebar/dotfriends/sidebar_dotfriends.html %}
        {% include _sidebar/sidebar_rss_feed.html %}
    {% elsif page.permalink == '/vlog/' %}
        {% include _sidebar/dotfriends/sidebar_dotfriends.html %}
        {% include _sidebar/sidebar_rss_feed.html %}
        {% comment %}{% include _sidebar/sidebar_news.html %}{% endcomment %}
    {% elsif page.permalink == '/vlog/:title' %}
        {% include _sidebar/dotfriends/sidebar_dotfriends.html %}
        {% include _sidebar/sidebar_rss_feed.html %}
    {% elsif page.permalink == '/groups/' %}
        {% include _sidebar/groups/sidebar_groups_telegram.html %}
    {% elsif page.permalink == '/dotfriends/' %}
        {% comment %}{% include _sidebar/dotfriends/sidebar_dotfriends_list.html %}{% endcomment %}
    {% endif %}
</aside>
