<div class="sidebar-body">
    <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;">Tentang Vlog</h1>
    <img class="post-body-img-sidebar" src="/assets/img/cards/card_vlog.svg" alt="logo">
    <p>Vlog ini adalah media online yang secara aktif mendokumentasikan kegiatan belajar saya.</p>
    <p>Sebagian besar vlog ini berisi video-video yang berhubungan dengan teknologi komputer. Seperti, sistem operasi GNU/Linux, jaringan komputer, bahasa pemrograman, basis data, review aplikasi dan konfigurasi tools serta hal-hal lain yang masih terkait dengan komputer.</p>
    <div style="margin:15px 0 10px 0;border-bottom:1px dashed #B8B8B8;"></div>
    <p>Ingin tahu lebih lengkap tentang profil saya, dapat dibaca <a href="/about/">di sini</a>.</p>
    <p>Terima kasih =P</p>
</div>
