<div class="sidebar-body-rss">
  <h1 style="font-size:1.5em;border-bottom:1px dashed #ACA573;margin-bottom:5px;">
    <img src="/assets/img/logo/logo_rss.svg">Berlangganan RSS
  </h1>
  <p>Untuk dapat berlangganan catatan/post terbaru, kamu dapat mengklik tombol RSS yang terdapat di <a href="#footer"><b>footer</b></a>.</p>
  <p>Blog ini memiliki dua buah RSS feed, Blog dan Vlog.</p>
  <p>Apabila kamu mengklik tombol RSS yang ada pada halaman yang berkategori Blog, maka RSS feed url yang keluar adalah untuk kategori Blog, begitu pula sebaliknya untuk halaman Vlog.</p>
  <div style="margin:15px 0 10px 0;border-bottom:1px dashed #ACA573;"></div>
  <p>Belum tahu tentang RSS? Yuk, <a href="{{ site.url }}/blog/newsboat-rss-feed-reader"><b>ke sini</b></a></p>
</div>
