<div class="sidebar-body-rss" style="background-color: #F3E681">
  <h1 style="font-size:1.5em;">Berlangganan RSS</h1>
  <p>Untuk dapat berlangganan artikel/post terbaru, kamu dapat mengklik tombol RSS yang terdapat di footer.</p>
  <p>Blog ini memiliki dua buah RSS feed, Blog dan Vlog.</p>
  <p>Apabila kamu mengklik tombol RSS yang ada pada halaman yang berkategori Blog, maka RSS feed url yang keluar adalah untuk kategori Blog, begitu pula sebaliknya untuk halaman Vlog.</p>
  <!-- <div style="margin:10px 0 10px 0;border&#45;bottom:1px dashed #F3E681;"></div> -->
</div>
