<div class="sidebar-body" style="background-color: #EBFFB4;">
  <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;"><a style="color:#000;border-bottom:none;" href="/tags/">Tags</a></h1>
  <div class="toc" style="margin:5px 0;">
  {% assign tag_list = site.tags | sort %}
  {% if tag_list.first[0] == null %}
    {% for tag in tag_list %}
      <span class="tags"><a href="/tags/#{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ tag | camelcase }} ({{ site.tags.size }})</a></span>
    {% endfor %}
  {% else %}
    {% for tag in tag_list %}
      <span class="tags"><a href="/tags/#{{ tag[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ tag[0] | camelcase }} ({{ tag[1].size }})</a></span>
    {% endfor %}
  {% endif %}
  {% assign tag_list = nil %}
  </div><!-- margin:5px 0 -->
</div><!-- sidebar-body -->
