<div class="sidebar-body">
    <h1 style="font-size:1.5em;">Hello, mas Bro !</h1>
    <img class="post-body-img-sidebar" src="/assets/img/cards/card_groups.svg" alt="logo">
    <p>Ini adalah halaman yang menampilkan aktifitas saya dalam menggunakan aplikasi Telegram untuk membantu teman-teman yang mengalami kendala sesuai dengan topik yang bersangkutan pada masing-masing group.</p>
    <p>Tujuan dari pendokumentasian ini adalah sebagai media portofolio yang mungkin suatu hari akan bermanfaat.</p>
</div>
