/*
Author: Sindre Sorhus
SampleURL: https://sindresorhus.com/github-markdown-css/
SourceURL: https://github.com/sindresorhus/github-markdown-css
*/

.markdown-body {
  /* -ms-text-size-adjust: 100%; */
  /* -webkit-text-size-adjust: 100%; */
  line-height: 1.5;
  /* color: #24292e; */
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body .pl-c {
  color: #6a737d;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
  color: #005cc5;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
  color: #6f42c1;
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
  /* color: #24292e; */
  color: #000;
}

.markdown-body .pl-ent {
  color: #22863a;
}

.markdown-body .pl-k {
  color: #d73a49;
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
  color: #032f62;
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
  color: #e36209;
}

.markdown-body .pl-bu {
  color: #b31d28;
}

.markdown-body .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.markdown-body .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.markdown-body .pl-c2::before {
  content: "^M";
}

.markdown-body .pl-sr .pl-cce {
  font-weight: bold;
  color: #22863a;
}

.markdown-body .pl-ml {
  color: #735c0f;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
  font-weight: bold;
  color: #005cc5;
}

.markdown-body .pl-mi {
  font-style: italic;
  /* color: #24292e; */
  color: #000;
}

.markdown-body .pl-mb {
  font-weight: bold;
  /* color: #24292e; */
  color: #000;
}

.markdown-body .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.markdown-body .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.markdown-body .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.markdown-body .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.markdown-body .pl-mdr {
  font-weight: bold;
  color: #6f42c1;
}

.markdown-body .pl-ba {
  color: #586069;
}

.markdown-body .pl-sg {
  color: #959da5;
}

.markdown-body .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.markdown-body .octicon {
  display: inline-block;
  vertical-align: text-top;
  /* fill: #1b1f23; */
}

.markdown-body a {
  /* background-color: transparent; */
  border-bottom: 1px dotted #798780;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: inherit;
}

.markdown-body strong {
  font-weight: bolder;
}

.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdown-body img {
  border-style: none;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  /* membuat image ditengah2 post */
  display: flex;
  align-items: center;
  justify-content: center;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1em;
  /* border: 1px solid #289C70; */
}

.markdown-body hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.markdown-body input {
  font: inherit;
  margin: 0;
}

.markdown-body input {
  overflow: visible;
}

.markdown-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body a {
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: none;
}

.markdown-body strong {
  /* font-weight: 600; */
  font-weight: bold;
}

.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.markdown-body hr::before {
  display: table;
  content: "";
}

.markdown-body hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  color: #000;
  font-family: 'Ubuntu Condensed';
}

.markdown-body h1 {
  font-size: 32px;
  /* font-weight: 600; */
  font-weight: bold;
}

.markdown-body h2 {
  font-size: 26px;
  /* font-weight: 600; */
  font-weight: bold;
}

.markdown-body h3 {
  font-size: 22px;
  /* font-weight: 600; */
  font-weight: bold;
}

.markdown-body h4 {
  font-size: 18px;
  /* font-weight: 600; */
  font-weight: bold;
}

.markdown-body h5 {
  font-size: 16px;
  /* font-weight: 600; */
  font-weight: bold;
}

.markdown-body h6 {
  font-size: 14px;
  /* font-weight: 600; */
  font-weight: bold;
}

.markdown-body p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown-body blockquote {
  margin: 0;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 12px;
  /* background color border ``` */
  border-color: #272822;
  border-style: solid;
  border-width: 1px;
}

.markdown-body .octicon {
  vertical-align: text-bottom;
}

.markdown-body .pl-0 {
  padding-left: 0 !important;
}

.markdown-body .pl-1 {
  padding-left: 4px !important;
}

.markdown-body .pl-2 {
  padding-left: 8px !important;
}

.markdown-body .pl-3 {
  padding-left: 16px !important;
}

.markdown-body .pl-4 {
  padding-left: 24px !important;
}

.markdown-body .pl-5 {
  padding-left: 32px !important;
}

.markdown-body .pl-6 {
  padding-left: 40px !important;
}

.markdown-body::before {
  display: table;
  content: "";
}

.markdown-body::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0 !important;
}

.markdown-body>*:last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body ul,
.markdown-body ol,
.markdown-body p,
.markdown-body blockquote,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body hr {
  height: 0.20em;
  padding: 0;
  margin: 24px 0;
  /* background-color: #e1e4e8; */
  background-color: #9E9E9E;
  border: 0;
}

.markdown-body blockquote {
  padding: 0.7em 0.7em;
  /* color: #444d56; */
  /* color: #24292E; */
  color: #000;
  /* background color quote */
  background: #D8E7B4;
  border-left: 0.35em solid #00603C;
  border-radius: 0 5px 5px 0;
}

.markdown-body blockquote h1,
.markdown-body blockquote h2,
.markdown-body blockquote h3,
.markdown-body blockquote h4,
.markdown-body blockquote h5,
.markdown-body blockquote h6 {
  font-family: 'Ubuntu Condensed';
  border-bottom: 1px dashed #00603C;
}

.markdown-body blockquote>:first-child {
  margin-top: 0;
}

.markdown-body blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 13px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  /* font-weight: 600; */
  font-weight: bold;
  line-height: 1.25;
  cursor: pointer;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px dashed #C4BBB0;
}

.markdown-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px dashed #C4BBB0;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  font-size: 0.85em;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  word-wrap: break-all;
  /* color: #24292e; */
  color: #000;
  text-align: justify;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: 0.25em;
}

.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  /* font-weight: 600; */
  font-weight: bold;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body table th {
  /* font-weight: 600; */
  font-weight: bold;
  /* background color table header */
  background: #C5D796;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #289C70;
}

.markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-body table tr:nth-child(2n) {
  /* background color table row */
  background-color: #F3FAD8;
}

/* .markdown-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
} */

/* .markdown-body img[align=right] {
  padding-left: 20px;
} */

/* .markdown-body img[align=left] {
  padding-right: 20px;
} */

.markdown-body code {
  padding: 0.1em 0.4em 0.2em 0.4em;
  margin: 0;
  /* font-size: 85%; */
  font-size: 100%;
  border-radius: 3px;
  border-width: 0;
  /* background color code ` */
  /* background: #F3FAD8; */
  background: #272822;
  color: #FFF;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
  color: #FFF;
}

.markdown-body .highlight {
  margin: 10px 0;
}

.markdown-body .highlight pre {
  word-break: normal;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 10px;
  overflow: auto;
  /* font-size: 85%; */
  font-size: 100%;
  font-family: 'Ubuntu Mono', monospace;
  line-height: 1.45;
  /* background color pre ``` */
  /* background-color: #F3FAD8; */
  background-color: #272822;
  border-radius: 5px;
}

.markdown-body pre code {
  display: inline;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 13px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: normal;
  line-height: 13px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.markdown-body :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #289C70;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

.markdown-body .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.markdown-body hr {
  border-bottom-color: #eee;
}
