<div class="sidebar-body-rss" style="background-color:#FBD7D2;">
  <h1 style="font-size:1.5em;border-bottom:1px dashed #DB1C4A;">Atribute Kampus</h1>
  <div style="margin:15px 0;"></div>
  <img class="post-body-img-sidebar" src="{{ site.lazyload.logo_blank }}" data-echo="{{ site.url }}/assets/img/logo/logo_universitas_mulia_official.png">
  <a href="{{ site.url }}/assets/img/logo/logo_universitas_mulia_official.png" target="_blank"><p style="text-align:center;background:#DB1C4A;color:#FFF;font-weight:bold;padding-bottom:5px;margin:10px;" class="tags-on-btn"><span style="font-size:1.5em;font-weight:bold;color:#FFF;">DOWNLOAD</span><br>Logo Universitas Mulia<br>(OFFICIAL)</p></a>
    <div style="margin:10px 0 10px 0;border-bottom:1px dashed #DB1C4A;"></div>
  <img class="post-body-img-sidebar" src="{{ site.lazyload.logo_blank }}" data-echo="{{ site.url }}/assets/img/logo/logo_universitas_mulia_unofficial.png" alt="logo_kampus">
  <a href="{{ site.url }}/assets/img/logo/logo_universitas_mulia_unofficial.png" target="_blank"><p style="text-align:center;background:#DB1C4A;color:#FFF;font-weight:bold;padding-bottom:5px;margin:10px;" class="tags-on-btn"><span style="font-size:1.5em;font-weight:bold;color:#FFF;">DOWNLOAD</span><br>Logo Universitas Mulia<br>(UNOFFICIAL)</p></a>
</div>
