<div class="sidebar-body">
    <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;">Hello, mas Bro !</h1>
    <img class="post-body-img-sidebar" src="/assets/img/cards/card_157.svg" alt="logo">
    <p>Selamat datang di <b>Halaman 157</b>.</p>
    <p>Ini adalah halaman yang dibuat khusus untuk mendokumentasikan materi-materi dan tugas-tugas perkuliahan yang saya dan teman-teman kumpulkan selama proses perkuliahan.</p>
    <div style="margin:15px 0 10px 0;border-bottom:1px dashed #B8B8B8;"></div>
    <p style="font-size:1.5em;"><b>Hak Cipta dari :</b></p>
    <p><b>Materi perkuliahan</b> dimiliki oleh dosen yang bersangkutan ataupun sumber terkait yang mencantumkan nama di dalam materi tersebut.</p>
    <p><b>Tugas perkuliahan</b> sepenuhnya adalah hak milik saya dan teman-teman.</p>
</div>
