<div class="sidebar-body-rss">
  <h1 style="font-size:1.5em;border-bottom:1px dashed #ACA573;">Atribute Kampus</h1>
  <img class="post-body-img-sidebar" src="{{ site.lazyload.logo_blank }}" data-echo="{{ site.url }}/assets/img/logo/logo_universitas_mulia.png" alt="logo_kampus">
    <div style="margin:0 0 10px 0;border-bottom:1px dashed #ACA573;"></div>
    <p style="font-size:1.0em;"><b>Download :</b></p>
    <p>+&nbsp;<a href="{{ site.url }}/assets/img/logo/logo_universitas_mulia.png" target="_blank">Logo Universitas Mulia (UNOFFICIAL)</a></p>
</div>
