<div class="sidebar-body">
    <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;">Keterangan</h1>
    <p><b>INSOURCES</b><br>Adalah materi-materi perkuliahan yang diberikan secara langsung oleh dosen pengampu mata kuliah.</p>

    <p><b>OUTSOURCES</b><br>Adalah materi-materi perkuliahan yang saya dan teman-teman kumpulkan sendiri dari berbagai macam sumber dan literatur.</p>

    <p><b>TUGAS</b><br>Berisi tugas-tugas yang saya dan teman-teman dapatkan selama proses perkuliahan.</p>

    <p><b>KUIS</b><br>Berisi soal kuis yang hanya diberikan secara online.</p>

    <div style="margin:15px 0 10px 0;border-bottom:1px dashed #B8B8B8;"></div>
    <p style="font-size:1.5em;"><b>Hak Cipta dari :</b></p>
    <p><b>Materi perkuliahan</b> dimiliki oleh dosen yang bersangkutan ataupun sumber terkait yang mencantumkan nama pada materi tersebut.</p>
    <p><b>Tugas perkuliahan</b> sepenuhnya adalah hak milik saya dan teman-teman.</p>
</div>
<div style="margin-bottom:25px;"></div>
