---
layout: 'page'
title: 'Halaman 157'
author: 'BanditHijo'
permalink: '/157/'
---

<div class="post-body">
<!-- 157 POSTS -->

<div style="margin-top:-40px;"></div>

<br>
<img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;position:relative;top:13px;">
<p style="font-size:1.25em;font-weight:600;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">7</span></p>
{% assign posts = site.posts | sort | where_exp:"page", "page.permalink == '/157/:title'" %}
{% for post in posts %}
{% if forloop.index0 >= 46 and forloop.index0 <= 51  %}
<p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
<p class="post-details-index">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</p>
{% endif %}
{% endfor %}

<br>
<img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;position:relative;top:13px;">
<p style="font-size:1.25em;font-weight:600;margin-top:20px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">6</span></p>
{% assign posts = site.posts | sort | where_exp:"page", "page.permalink == '/157/:title'" %}
{% for post in posts %}
{% if forloop.index0 >= 40 and forloop.index0 <= 45  %}
<p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
<p class="post-details-index">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</p>
{% endif %}
{% endfor %}

<br>
<img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;position:relative;top:13px;">
<p style="font-size:1.25em;font-weight:600;margin-top:20px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">5</span></p>
{% assign posts = site.posts | sort | where_exp:"page", "page.permalink == '/157/:title'" %}
{% for post in posts %}
{% if forloop.index0 >= 33 and forloop.index0 <= 39  %}
<p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
<p class="post-details-index">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</p>
{% endif %}
{% endfor %}

<br>
<img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;position:relative;top:13px;">
<p style="font-size:1.25em;font-weight:600;margin-top:20px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">4</span></p>
{% assign posts = site.posts | sort | where_exp:"page", "page.permalink == '/157/:title'" %}
{% for post in posts %}
{% if forloop.index0 >= 25 and forloop.index0 <= 32  %}
<p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
<p class="post-details-index">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</p>
{% endif %}
{% endfor %}

<br>
<img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;position:relative;top:13px;">
<p style="font-size:1.25em;font-weight:600;margin-top:20px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">3</span></p>
{% assign posts = site.posts | sort | where_exp:"page", "page.permalink == '/157/:title'" %}
{% for post in posts %}
{% if forloop.index0 >= 18 and forloop.index0 <= 24  %}
<p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
<p class="post-details-index">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</p>
{% endif %}
{% endfor %}

<br>
<img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;position:relative;top:13px;">
<p style="font-size:1.25em;font-weight:600;margin-top:20px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">2</span></p>
{% assign posts = site.posts | sort | where_exp:"page", "page.permalink == '/157/:title'" %}
{% for post in posts %}
{% if forloop.index0 >= 9 and forloop.index0 <= 17  %}
<p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
<p class="post-details-index">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</p>
{% endif %}
{% endfor %}

<br>
<img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;position:relative;top:13px;">
<p style="font-size:1.25em;font-weight:600;margin-top:20px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">1</span></p>
{% assign posts = site.posts | sort | where_exp:"page", "page.permalink == '/157/:title'" %}
{% for post in posts %}
{% if forloop.index0 >= 0 and forloop.index0 <= 8  %}
<p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
<p class="post-details-index">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</p>
{% endif %}
{% endfor %}

</div>
