---
layout: 'page'
title: 'Halaman 157'
author: 'BanditHijo'
permalink: '/157/'
---

<div class="post-body noselect">
  <!-- 157 POSTS -->
  <div style="margin-top:-40px;"></div>

  <!-- KALENDER AKADEMIK -->
  <article class="homepage">
    <div class="notif-157-kalender" style="margin:25px 0 0 0">
      <div style="clear:both;">
        <img class="post-header-img" style="position:relative;top:-5px;margin-right:5px;" src="/assets/img/logo/logo_cal.svg">
        <span style="font-size:16px;font-family:'Ubuntu Condensed';font-weight:bold;">KALENDER AKADEMIK : {{ site.data.kalender-akademik.kalender.judul }}</span>
      </div><!-- clear:both -->
      <div style="margin:10px 0 10px 0;border-bottom:1px dashed #000000;"></div>
      {% for data in site.data.kalender-akademik.data %}
      <p class="kalender-item {{ data.status }}"><span style="font-family:TypoPRO Fantasque Sans Mono;font-size:90% !important;"><b>{{ data.tanggal }}</b></span>&nbsp;&nbsp;{{ data.detail }}</p>
      {% endfor %}
    </div><!-- notif-157-kalender -->
  </article><!-- homepage -->
  <p style="text-align:right;font-size:12px;font-weight:normal;padding-right:10px;margin-botom:0 !important;position:relative;top:-10px;">sumber: <a href="https://siamon.id" target="_blank" rel="noreferrer">siamon.id</a></p>
  <!-- END KALENDER AKADEMIK -->

  {% comment %}
  <!-- NOTIF TUGAS -->
  <article class="homepage">
    <div class="notif-157">
      <span style="font-size:16px;font-family:'Ubuntu Condensed';font-weight:bold;">Deadline Tugas Terbaru</span>
      <div style="margin:10px 0 10px 0;border-bottom:1px dashed #C00000;"></div>
      {% for log in site.data.deadline-tugas limit: 5 %}
        {% if log.tanggal == '00/00/00' %}
          <p><a style="border-bottom:none;" href="" onclick="return false;"><i>{{ log.detail }}</i></a></p>
        {% elsif log.url == nill %}
          <p><a style="border-bottom:none;" href="" onclick="return false;">{{ log.tanggal }}: {{ log.detail }}</a></p>
        {% else %}
          <p><a style="border-bottom:none;" href="/157/{{ log.url }}#tugas">{{ log.tanggal }}: {{ log.detail }}</a></p>
        {% endif %}
      {% endfor %}
    </div><!-- notif-157 -->
  </article><!-- homepage -->
  <!-- END NOTIF TUGAS -->
  {% endcomment %}

  <div style="margin-bottom:40px;"></div>

  <!-- SEMESTER 8 -->
  <div style="clear:both;position:relative;top:-20px;">
  <img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;">
  <p style="font-size:1.25em;font-weight:bold;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">8</span></p>
  </div><!-- clear:both -->
  <div style="clear:both;position:relative;top:-35px;">
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == '157'" %}
  {% for post in posts %}
    {% if forloop.index0 == 51 %}
      <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
      <p class="post-details-index-pin"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</a></p>
    {% endif %}
  {% endfor %}
  </div>


  <!-- SEMESTER 7 -->
  <div style="clear:both;position:relative;top:-20px;">
  <img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;">
  <p style="font-size:1.25em;font-weight:bold;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">7</span></p>
  </div><!-- clear:both -->
  <div style="clear:both;position:relative;top:-35px;">
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == '157'" %}
  {% for post in posts %}
    {% if forloop.index0 >= 46 and forloop.index0 <= 50  %}
      <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
      <p class="post-details-index"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</a></p>
    {% endif %}
  {% endfor %}
  </div><!-- clear:both -->


  <!-- SEMESTER 6 -->
  <div style="clear:both;position:relative;top:-20px;">
  <img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;">
  <p style="font-size:1.25em;font-weight:bold;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">6</span></p>
  </div><!-- clear:both -->
  <div style="clear:both;position:relative;top:-35px;">
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == '157'" %}
  {% for post in posts %}
    {% if forloop.index0 >= 40 and forloop.index0 <= 45  %}
      <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
      <p class="post-details-index"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</a></p>
    {% endif %}
  {% endfor %}
  </div><!-- clear:both -->


  <!-- SEMESTER 5 -->
  <div style="clear:both;position:relative;top:-20px;">
  <img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;">
  <p style="font-size:1.25em;font-weight:bold;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">5</span></p>
  </div><!-- clear:both -->
  <div style="clear:both;position:relative;top:-35px;">
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == '157'" %}
  {% for post in posts %}
    {% if forloop.index0 >= 33 and forloop.index0 <= 39  %}
      <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
      <p class="post-details-index"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</a></p>
    {% endif %}
  {% endfor %}
  </div><!-- clear:both -->


  <!-- SEMESTER 4 -->
  <div style="clear:both;position:relative;top:-20px;">
  <img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;">
  <p style="font-size:1.25em;font-weight:bold;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">4</span></p>
  </div><!-- clear:both -->
  <div style="clear:both;position:relative;top:-35px;">
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == '157'" %}
  {% for post in posts %}
    {% if forloop.index0 >= 25 and forloop.index0 <= 32  %}
      <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
      <p class="post-details-index"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</a></p>
    {% endif %}
  {% endfor %}
  </div><!-- clear:both -->


  <!-- SEMESTER 3 -->
  <div style="clear:both;position:relative;top:-20px;">
  <img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;">
  <p style="font-size:1.25em;font-weight:bold;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">3</span></p>
  </div><!-- clear:both -->
  <div style="clear:both;position:relative;top:-35px;">
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == '157'" %}
  {% for post in posts %}
    {% if forloop.index0 >= 18 and forloop.index0 <= 24  %}
      <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
      <p class="post-details-index"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</a></p>
    {% endif %}
  {% endfor %}
  </div><!-- clear:both -->


  <!-- SEMESTER 2 -->
  <div style="clear:both;position:relative;top:-20px;">
  <img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;">
  <p style="font-size:1.25em;font-weight:bold;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">2</span></p>
  </div><!-- clear:both -->
  <div style="clear:both;position:relative;top:-35px;">
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == '157'" %}
  {% for post in posts %}
    {% if forloop.index0 >= 9 and forloop.index0 <= 17  %}
      <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
      <p class="post-details-index"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</a></p>
    {% endif %}
  {% endfor %}
  </div><!-- clear:both -->


  <!-- SEMESTER 1 -->
  <div style="clear:both;position:relative;top:-20px;">
  <img class="post-header-img" src="/assets/img/logo/logo_toga.svg" style="width:70px;">
  <p style="font-size:1.25em;font-weight:bold;margin-top:10px;margin-bottom:0;">SEMESTER <span style="font-size:2.5em">1</span></p>
  </div><!-- clear:both -->
  <div style="clear:both;position:relative;top:-35px;">
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == '157'" %}
  {% for post in posts %}
    {% if forloop.index0 >= 0 and forloop.index0 <= 8  %}
      <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
      <p class="post-details-index"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y %m' }}&nbsp;]</a></p>
    {% endif %}
  {% endfor %}
  </div><!-- clear:both -->

</div>
