---
layout: 'page'
title: 'Log: Update Terbaru'
author: 'BanditHijo'
permalink: '/blog-features-update/'
---

<div class="log-page noselect">
  <ul>
    {% for log in site.data.blog-features-update %}
      {% if log.url == nill %}
        <li><span style="color:#00653F;font-family:'Fira Code'">{{ log.tanggal }}</span>: <a style="color:#000;border-bottom:none;" href="" onclick="return false;">{{ log.detail }}</a></p>
      {% else %}
        <li><span style="color:#00653F;font-family:'Fira Code'">{{ log.tanggal }}</span>: <a style="color:#000;border-bottom:none;" href="{{ log.url }}">{{ log.detail }}</a></p>
      {% endif %}
    {% endfor %}
  </ul>
</div>
