---
layout: 'page'
title: 'Rekam Jejak Saya di Group Telegram'
author: 'BanditHijo'
permalink: '/groups/'
---

<b>Catatan</b>: <i>Nomor id chat yang paling baru adalah yang paling atas</i>.


<!-- deklarasi sumber data untuk semua for loop nilai in data.collX  -->
{% assign data = site.data.groups %}

<!-- Belajar GNU/Linux Indonesia -->
{% assign no = 1 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Belajar GNU/Linux Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- masukkan nomor dari bubble chat -->
{% assign group = 'GNULinuxIndonesia' %}
{% for nilai in data.coll-gnulinuxid reversed %}
{% if nilai.id.size < 6 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Arch Linux Indonesia -->
{% assign no = 2 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Arch Linux Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'ArchLinuxID' %}
{% for nilai in data.coll-archlinuxid reversed %}
{% if nilai.id.size < 4 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Fedora Indonesia -->
{% assign no = 3 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Fedora Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'FedoraID' %}
{% for nilai in data.coll-fedoraid reversed %}
{% if nilai.id.size < 4 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '00' | append: nilai.id }}</a>
{% elsif nilai.id.size < 5 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- openSUSE Indonesia -->
{% assign no = 4 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">openSUSE Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'openSUSE_ID' %}
{% for nilai in data.coll-opensuseid reversed %}
{% if nilai.id.size < 4 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '00' | append: nilai.id }}</a>
{% elsif nilai.id.size < 5 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- GimpScape ID -->
{% assign no = 5 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">GimpScape ID</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'gimpscape' %}
{% for nilai in data.coll-gimpscapeid reversed %}
{% if nilai.id.size < 4 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '00' | append: nilai.id }}</a>
{% elsif nilai.id.size < 5 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Dotfiles Indonesia -->
{% assign no = 6 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Dotfiles Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'dotfiles_id' %}
{% for nilai in data.coll-dotfilesid reversed %}
{% if nilai.id.size < 3 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '000' | append: nilai.id }}</a>
{% elsif nilai.id.size < 4 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '00' | append: nilai.id }}</a>
{% elsif nilai.id.size < 5 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Vim Indonesia -->
{% assign no = 7 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Vim Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'VimID' %}
{% for nilai in data.coll-vimid reversed %}
{% if nilai.id.size < 4 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '00' | append: nilai.id }}</a>
{% elsif nilai.id.size < 5 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Python Indonesia -->
{% assign no = 8 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Python Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'pythonID' %}
{% for nilai in data.coll-pythonid reversed %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>&nbsp;
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Django Indonesia -->
{% assign no = 9 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Django Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<p class="font-latin"><b>Belum ada data...</b></p>
<!-- looping untuk bubble chat -->
{% assign group = 'DjangoID' %}
{% for nilai in data.coll-djangoid reversed %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>&nbsp;
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Javascript Indonesia -->
{% assign no = 10 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Javascript Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<p class="font-latin"><b>Belum ada data...</b></p>
<!-- looping untuk bubble chat -->
{% assign group = 'js_id' %}
{% for nilai in data.coll-jsid reversed %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>&nbsp;
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Hugo Indonesia -->
{% assign no = 11 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Hugo Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'gohugoid' %}
{% for nilai in data.coll-gohugoid reversed %}
{% if nilai.id.size < 4 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- Jekyll Indonesia -->
{% assign no = 12 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">Jekyll Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<p class="font-latin"><b>Belum ada data...</b></p>
<!-- looping untuk bubble chat -->
{% assign group = 'jekyllid' %}
{% for nilai in data.coll-jekyllid reversed %}
{% if nilai.id.size < 4 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

<!-- JAM Stack Indonesia -->
{% assign no = 13 %}
<div id="coll{{ no }}" class="wrap-collabsible">
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="lbl-toggle">JAM Stack Indonesia</label>
<div class="collapsible-content">
<div class="content-inner">
<p>
<!-- looping untuk bubble chat -->
{% assign group = 'JAMstackID' %}
{% for nilai in data.coll-jamstackid reversed %}
{% if nilai.id.size < 2 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '00' | append: nilai.id }}</a>
{% elsif nilai.id.size < 3 %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ '0' | append: nilai.id }}</a>
{% else %}
<a class="tele" href="https://t.me/{{ group }}/{{ nilai.id }}" target="_blank">{{ nilai.id }}</a>
{% endif %}
{% endfor %}
</p>
<input id="collapsible{{ no }}" class="toggle" type="checkbox">
<label for="collapsible{{ no }}" class="top" onClick="document.getElementById('coll{{ no }}').scrollIntoView();">^</label>
</div></div></div>

