---
layout: baseof
---

<section id="main">
    <div class="container">
        <div class="container-edge-border">

            {% include sidebar_head.html %}

            <article class="post">
                <div class="post-body">
                    {% comment %}
                    <!-- <img class="post&#45;header&#45;img" src="/assets/img/logo/logo_title.png" style="width:30px;position:relative;top:5px;"> -->
                    {% endcomment %}
                    <h1 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
                    {% if page.permalink == '/about/'
                       or page.permalink == '/bantuan/' %}
                    <label class="hideAside noselect" title="On/Off Sidebar"><img style="width:20px;margin-top:5px;" src="/assets/img/logo/logo_menu.svg" alt=""></label>
                    {% endif %}
                    <div class="post-title-spacer"></div>
                    <div class="markdown-body">
                        <p>{{ content }}</p>
                    </div>
                    <br>
                </div>
            </article>

            <br>

            {% include sidebar_tail.html %}

        </div><!-- container-edge-border -->
    </div><!-- main container -->
</section><!-- main -->
